# dependencies
node_modules/
**/node_modules/

# build outputs (opcional)
dist/
build/
coverage/

# env files (opcional)
.env
.env.*

# logs (opcional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
